# .coveragerc
[run]
branch = True
source = src  # Ajusta esto a la ubicación de tu código fuente

[report]
exclude_lines =
    pragma: no cover
    if __name__ == "__main__":  # O cualquier otra línea que desees excluir